:root{
    --background-aplha: rgba(27, 27, 50, 0.4);
    --color-green: #37af65;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

*, *::after, *::before{
    box-sizing: border-box;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(168,174,172,0.6) 0%, rgba(65,66,60,0.7) 100%), url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.header h1{
    font-weight: 400;
}

#description{
    font-size: 1.125rem;
    margin-top: 0.5rem;
}

.container{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 40px;
    width: 50%;
    background: var(--background-aplha);
    backdrop-filter: blur(2px);
}

.personal-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.personal-info input, select, textarea{
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

::placeholder{
    color:#c9c9c9;
}

select option{
    color: black;
}

input, select:focus{
    outline: none;
}

.input-round{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.favorite-sports{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

input, select, textarea{
    background: none;
}

textarea{
    outline: none;
    resize: none;
}

.submit-button{    
    font-size: 18px;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 48px;
    background-color: var(--color-green);
}

footer{
    height: 32px;
    top: 824px;
    margin: 20px auto;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

footer a{
    font-size: 32px;
    color: inherit;
}